/* acceuil */
.avis{
    height: 300px;
    width: 280px;
    background-color: #C4A484;
}

.avatar{
    height: 100px;
    width: 100px;
}
.avatar>svg{
    height: 100px;
    width: 100px;
}

.commentcamarche__heading, .commentcamarche__articles>*, .nosservice__heading, .nosservice__imgsec>*, .histoire, .histoire__article>*{
    margin-bottom: 20px;
}
.commentcamarche__articles>img, .nosservice__imgsec>img, .histoire__article>img{
    justify-content: center;
}



