/* footer */

footer{
    height: 100px;
    width: 320px;
    align-items: center;
    justify-content: space-between;
}
.socials{
    width: 90px;
    top: 0px;
    /*! black */
}
.socials__items{
    height: 18px;
    width: 18px;
    left: 13px;
}
.socials__items>svg{
    height: 18px;
    width: 18px;
    background-color: transparent;
}
.socials>:nth-child(1){
    left: 7px;
}
.socials>:nth-child(2){
    left: 13px
}
.socials>:nth-child(3){
    left: 19px;
}
.policy{
    height: 100px;
    width: 140px;
}
.policy__list{
    height: 0px;
    width: 140px;
    top: 15px;
}
.policy__list>*:hover{
    text-decoration: underline;
}
.up{
    width: 90px;
    left: 25px;
}
.up__logo{
    height: 18px;
    width: 18px;
    
}
.policy{
    /* display: flex; */
    /* align-content: center; */
    /* justify-content: center; */
}
.policy__list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
  }
  .policy__list>*{
    justify-content: center;
    margin-bottom: 10px;
    /* display: block; */
  }
  @media (min-width: 768px){
    .socials__items{
        margin-right: 15px;
    }
    .socials{
        width: 130px;
    }
    .up{
        width: 130px;
        left: 45px;
    }
    .up__logo{
        height: 25px;
        width: 25px;
        
    }
    .socials__items>svg{
        height: 25px;
        width: 25px;
        background-color: transparent;
    }
  }

  @media (min-width: 1200px){
    .policy__list{
        height: 0px;
        width: 300px;
        top: 50px;
        left: -85px;
        /* transform: translate(0%, -50%); */
    }

    .policy__list{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
      }
    }