* {
  margin: 0;
  padding: 0;
  color: #722f37;
  background-color: #ffffff;
  box-sizing: border-box;
}
body::before {
  content: "";
  display: block;
  height: 50px;
}
::selection {
  background-color: #722f37;
  color: white; /* Background color of selected text */
}
input[type="checkbox"] {
  border-color: #80461b;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  accent-color: #722f37;
}
summary {
  cursor: pointer;
}
input[type="text"] {
  display: block;
  border-color: #80461b;
  border-radius: 8px;
  height: 40px;
  width: 272px;
}
input[type="text"]::placeholder {
  font-size: 12px;
}
input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #a52a2a;
}
button {
  border-radius: 8px;
  border-color: #c4a484 #80461b #80461b #c4a484;
  border-width: 1px;
  color: white;
  background-color: #80461b;
  cursor: pointer;
}
button:hover {
  color: white;
  background-color: #945424;
}
button:active {
  background-color: white;
  color: #80461b;
  border-width: 2px;
}
a {
  color: inherit;
}
a:hover {
  color: #c4a484;
}
a:visited {
  color: #daa06d;
}
