/* header */

.menu{
    display: none;
}
.menu__list{
    list-style-type: none;
    padding-left: 0;
}

.navbar{
    position: relative;
    background-color: #C4A484;
    height: 50px;
    
}



.navbar>:first-child{
    position: absolute;
    left: 3px;
    top: 3px;
    height: 45px;
    width: 45px;
    background-color: #80461B;
}

.navbar>:last-child{
    position: absolute;
    top: 13px;
    left: 284px;
    height: 23px;
    width: 23px;
    background-color: #80461B;
}
.logo{
    
    height: 45px;
    width: 45px;
    background-color: #80461B;
}
.logo>svg{
    background-color: #C4A484;
    cursor: pointer;
}

.hamburger{
    height: 23px;
    width: 23px;
    background-color: #C4A484;
}
.hamburger>svg{
    background-color: #C4A484;
    cursor: pointer;
}

.header__recherecher{
    position: relative;
    height: 500px;
}

.header__recherecher>*{
    position: absolute;
    left: 20px;
}

.recherecher__localisation{
    top: 10px;
}

.recherecher__localisation>label{
    position: absolute;
    left: 3px;
    cursor: pointer;
}

.recherecher__localisation>input{
    position: absolute;
    top: 28px;
}

.recherecher__biens{
    top: 100px;
    left: 24px;
}

.biens__items>label{
    position: relative;
    left: 14px;
    top: 15px;
}

.biens__items input{
    position: relative;
    left: -4px;
}

.biens__items>label:last-child{
    left: 30px;
}

.recherecher__pieces{
    top: 175px;
    left: 24px;
}


.pieces__items>label{
    position: relative;
    left: 14px;
    top: 15px;
}

.pieces__items input{
    position: relative;
    left: -4px;
}

.pieces__items>label:last-child{
    left: 55px;
}

.pieces__items > :nth-child(2){
    left: 28px;
}

.pieces__items > :nth-child(3){
    left: 43px;
}

.recherecher__chambres{
    top: 250px;
    left: 24px;
}

.chambres__items>label{
    position: relative;
    left: 14px;
    top: 15px;
}

.chambres__items input{
    position: relative;
    left: -4px;
}

.chambres__items>label:last-child{
    left: 55px;
}

.chambres__items > :nth-child(2){
    left: 28px;
}

.chambres__items > :nth-child(3){
    left: 43px;
}

.recherecher__prix{
    top: 325px;
}

.recherecher__prix>input{
    position: absolute;
    top: 28px;
}

.recherecher__prix>label{
    position: relative;
    left: 3px;
    cursor: pointer;
}


.recherecher__button{
    top: 435px;
}
.recherecher__button>button{
    height: 45px;
    width: 278px;
}