/* utility */
.add--pntr{
    cursor: pointer;
}
.add--bg-lbr{
    background-color: #c4a484;
}
.add--bg-br{
    background-color: #80461B;
}
.add--bg-ch{
    background-color:  #7B3F00 ;
}
.add--bg-tr{
    background-color: transparent;
}
.add--bg-br-l{
    background-color: #945424;
}
.add--bg-w{
    background-color: rgb(0, 162, 255);
}
.add--col-w{
    color: white;
}
.add--bd-c-br{
    border-color:  #80461B ;
}
.add--bd-r-8{
    border-radius: 8px;
}
.add--text-justify { text-align: justify; }
.add--text-center { text-align: center; }
.add--el-center{
    position: relative;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, 0%);
}
.add--flex{
    display: flex;
}
.add--block{
    display: block;
}
.add--i-block{
    display: inline-block;
}
.add--pa{
    position: absolute;
}
.add--pr{
    position: relative;
}
.add--txt-s-8{
    font-size: 0.5rem;
}
.add--txt-s-10{
    font-size: 0.625rem;
}
.add--txt-s-12{
    font-size: 0.75rem;
}
.add--txt-s-14{
    font-size: 0.875rem;
}
.add--txt-s-16{
    font-size: 1rem;
}
.add--underline{
    text-decoration: underline;
}
.add--uppercase{
    text-transform: uppercase;
}
.add--txt-no-style{
    text-transform: none;
}
.add--font-normal{
    font-weight: 400;
}
.add--font-bold{
    font-weight: 700;
}
.add--mx-20{
    margin-left: 20px; margin-right: 20px;
}
.add--my-20{
    margin-top: 20px; margin-bottom: 20px;
}
.add--px-20{
    padding-left: 20px; padding-right: 20px;
}
.add--py-20{
    padding-top: 20px; padding-bottom: 20px;
}
.add--mb-20{
    margin-bottom: 20px;
}
.add--mx-px-0{
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}
.add--w-100{
    width: 100%;
}
.add--h-100{
    height: 100%;
}